<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title th:text="${titulo}" ></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/}+'Hola Andres'">/variables/string?texto=Hola Andres</a></li>
		<li><a th:href="@{/variables/string/}+'Que tal Jhon'">/variables/string?texto=Que tal Jhon!</a></li>
		<li><a th:href="@{/variables/string/}+${'Saludos Andrés'} + '/'+7">/variables/string?saludo=Como estas Andrés&numero = 7</a></li>
		
	</ul>
</body>
</html>